*{
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family: Segoe UI;
}

pre{font-family: Consolas;}

.segoe{font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}

.container{
    width: 800px;
    max-width: 100%;
    /* margin: auto; */
    max-width: 80%;
}

.consolas{
    font-family:consolas;
    color: #6e7781;
}

.mark{
    padding: 0.05em 0.4em;
    margin: 0;
    background-color: #eee;
    border-radius: 3;
    display: inline-block;
    border-radius: 3px;
}

.semibold{ font-family: Segoe UI Semibold;}

.sobre{
    border-bottom: 1px solid;
    border-color: #00000022;
    cursor: pointer;
    position: relative;
}

.sobre:hover span{
    display: block;
    top: 0px;
    left: 0px;
    background-color: white;
    border: solid 1px black;
    z-index: 3;
    padding:5px 10px;
    min-width: auto;
    white-space: nowrap;
    top: 100%;
}

.sobre > span{
    position: absolute;
    display: none;
}

pre{
    overflow: auto;
}